@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/css/reset.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tippy.js@6.3.1/dist/tippy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

<!--Bread-crubs area Part Start-->
<div class="breadcrumbs_area">
    <div class="containerr">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li>
                            <a href="İndex.html">Home</a>
                        </li>
                        <li><i class="fa-solid fa-chevron-down fa-rotate-270"></i></li>
                        <li>Log in</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bread-crubs area Part Start-->
<!--Log In Start-->
<div class="login_page_bg">
    <div class="containerr">
        <div class="account_form login">
            <h2>Login</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <form action="#" method="post">
                <p>
                    <label asp-for="Email">Username or email<span>*</span>
                    </label>
                    <br>
                    <input asp-for="Email" type="text">
                </p>
                <p>
                    <label asp-for="Password">Passwords<span>*</span>
                    </label>
                    <br>
                    <input asp-for="Password" type="password">
                </p>
                <div class="login_submit">
                    <a asp-controller="Account" asp-action="ForgotPassword">Lost your password?</a>
                        <label asp-for ="RemindMe">
                        <input id="checkbox" asp-for="RemindMe">
                        Remember me
                    </label>
                    <button asp-controller="Account" asp-action="Login">login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Log in End-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="glider.js"></script>

    <script src="~/Assets/Js/app.js"></script>
    <script src="/Assets/Js/shop.js"></script>
    <script src="/Assets/Js/about.js"></script>
</body>
</html>  