@model IEnumerable<Product>


    @foreach (Product product in Model)
  {
    <a href="#">
        <li style="border-bottom:2px solid #ebebeb;background-color:white; " class="d-flex align-items-center justify-content-between">

            <img style="width:100px" src="/Assets/Photos/Product/Main-image/@product.MainImage" />

            <p style="font-size: 22px;">Name:@product.Title</p>

            <h5 style="margin-right:40px;font-size:22px;">Price: <span style="font-weight:600;color:#c40316;">@(product.Price-product.DisCountPrice)</span></h5>
        </li>
    </a>
}
